/* src/theme/variables.css */
:root {
    --ion-color-primary: #5b8def;
    --ion-color-primary-rgb: 91, 141, 239;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #507dd2;
    --ion-color-primary-tint: #6b99f1;
}

/* padding seguro sin overlay (no es obligatorio) */
.ion-padding {
    padding-top: calc(env(safe-area-inset-top) + 16px);
    padding-bottom: calc(env(safe-area-inset-bottom) + 16px);
    padding-left: calc(env(safe-area-inset-left) + 16px);
    padding-right: calc(env(safe-area-inset-right) + 16px);
}

/* Ajuste de offset superior cuando se usa un header global */
ion-tabs ion-content {
  /* Ajuste manual: toolbar ~56px en Android/iOS */
  --offset-top: 56px !important;
  padding-top: calc(env(safe-area-inset-top) + 56px) !important;
}
